body {
    font-family: "Robot", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.nav {
    text-align: right;
    margin: 20px;
}

.nav a {
    text-decoration: none;
    margin-left: 16px;
}

.nav a:hover {
    text-decoration: underline;
}